@model where_is_my_doctor.Models.Doctor

@{
    ViewBag.Title = "Create";
}

<h2>New Doctor</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
    <legend>Medico</legend>

    <div class="editor-label">
        @Html.LabelFor(model => model.CRM)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.CRM)
        @Html.ValidationMessageFor(model => model.CRM)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Address)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Address)
        @Html.ValidationMessageFor(model => model.Address)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.District)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.District)
        @Html.ValidationMessageFor(model => model.District)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Email)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.HealthInsurance)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.HealthInsurance)
        @Html.ValidationMessageFor(model =>
        model.HealthInsurance)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.HasMedicalClinic)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.HasMedicalClinic)
        @Html.ValidationMessageFor(model => model.HasMedicalClinic)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.WebSite)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.WebSite)
        @Html.ValidationMessageFor(model => model.WebSite)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.CodCity)
    </div>
    <div class="editor-field">
        @Html.DropDownList("CodCity", String.Empty)
        @Html.ValidationMessageFor(model => model.CodCity)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.CodSpecialty)
    </div>
    <div class="editor-field">
        @Html.DropDownList("CodSpecialty", String.Empty)
        @Html.ValidationMessageFor(model => model.CodSpecialty)
    </div>
    <p>
        <input type="submit" value="Create" />
    </p>
</fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}